body{
    margin: 0;
}

header{
    background-color: rgb(167, 10, 10);
    height: 50px;
    color: white;
    font-size: 28px;
    display: flex;
}
.logo{
    display: flex;
}
#canciones .logo{
font-size: 40px;
background-color: #046133; /* Base color of the div */
  background-image: linear-gradient(-45deg,
    transparent 40%, /* Start transparent */
    rgb(252, 249, 249) 50%, /* White highlight */
    transparent 60% /* End transparent */
  );
}
#canciones2 .logo{
background-color: #25dd0d; /* Base color of the div */
  background-image: linear-gradient(-45deg,
    transparent 40%, /* Start transparent */
    #e20d0d 50%, /* White highlight */
    transparent 60% /* End transparent */
  );
}
#canciones3 .logo{
background-color: #f70909; /* Base color of the div */
  background-image: linear-gradient(-45deg,
    transparent 40%, /* Start transparent */
    #0a35f1 50%, /* White highlight */
    transparent 60% /* End transparent */
  );
}
#canciones1{
background-color: green;
}
#tachar{
    text-decoration: line-through;
}

#submenu{
    list-style-type: none;
    display: flex;
    
    gap: 26px;
}

.cabeza{
    color: aqua;
    font-size: 30px;
}
#laberinto{
    position: relative;
    display: flex;
    margin-bottom: 10px;
    background-color: #d10000;
    color: antiquewhite;
}


.lore{
    width: auto;
  background-color: black;
    color: aliceblue;
}
.seccion{
    display: inline-flex;
    padding: 2px 16px;
    justify-content: space-between;
    
}

.razones{
    text-align: center;

}



#inicio img{
    height: 400px;
    
}



.noticia:hover{
    box-shadow: 0 4px 8px 0 rgb(243, 241, 241);
    transition: 0.3s;
    
}
.noticia{
    box-shadow: 0 14px 19px 0 rgba(121, 6, 6, 0.2);

}

footer{
    display: flex;
    background-color: rgb(204, 75, 75);
    color: aliceblue;
    gap: 20px;
    margin: 0;
}

#redes{
    color: aqua;
}
 
#compras, #inicio{
    background-color: black;
    color: bisque;
    margin: 0;

}



