body{
    margin: 0;
}

header{
    background-color: rgb(167, 10, 10);
    height: 50px;
    color: white;
    font-size: 28px;
    display: flex;
}
#logo{
    display: flex;
}
#tachar{
    text-decoration: line-through;
}
#escudoCabezal{
    height: 40px;
}
ul{
    list-style-type: none;
    display: flex;
    
    gap: 26px;
}

.cabeza{
    color: aqua;
    font-size: 30px;
}

.boton{
    background: red;
    color: black;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    max-width: fit-content;
}
#laberinto{
    position: relative;
    display: flex;
    margin-bottom: 10px;
    background-color: #d10000;
    color: antiquewhite;
}

#sobreNosotros{
    margin: 0;
}

#seccion2, #sobreNosotros{
    background-color: black;
    color: aliceblue;
}

.lore{
    width: auto;
}

#maradona{
    width: 900px;
    height: 250px;
}

.seccion{
    display: inline-flex;
    padding: 2px 16px;
    justify-content: space-between;
    
}

.razones{
    text-align: center;

}

#seccion2 img, #icono{
    width: 170px;
    height: 140px;
    border-radius: 100%;
}

#inicio img{
    height: 400px;
    
}



.noticia:hover{
    box-shadow: 0 4px 8px 0 rgb(243, 241, 241);
    transition: 0.3s;
    
}
.noticia{
    box-shadow: 0 14px 19px 0 rgba(121, 6, 6, 0.2);

}


#citaImagen{
    display: flex;
}

#formulario{
    padding: 50px;
    gap: 20px;
    display: inline-block;
    max-height: fit-content;    
}

#contenedor{
    display: flex;
    position: relative; 
    z-index: 1;
    background-color: red;
    color: white;
    margin-bottom: 0;
}

input, select{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    
}

footer{
    display: flex;
    background-color: rgb(204, 75, 75);
    color: aliceblue;
    gap: 20px;
    margin: 0;
}

#redes{
    color: aqua;
}


.jugador {
  border-radius: 10px;
  width: 200px;
  padding-bottom: 6px;
  box-shadow: 0 14px 10px 6px  rgba(216, 11, 35, 0.2);
  max-height: fit-content;
}
 
#compras, #inicio{
    background-color: black;
    color: bisque;
    margin: 0;
}

#noti{
    position: relative;
    left: 49%;
}
#ennegrecer{
    background-color: black;
    margin: 0;
}
#seccion3{
    margin: 0px;
    background-color: aliceblue;
}
#importante{
    background-color: aliceblue;
}
.jugador img {
  width: 100%;
  display: block;
}

.info {
  background-color: #d10000;
  padding: 10px;
  position: relative;
}

.nombre {
  margin: 0;
  font-size: 16px;
}
.lore{
    background-color: black;
    color: aliceblue;
}
.numero {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: black;
  color: red;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 18px;
}

